<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL app</title>
</head>
<body>
    <form action="/profile">
    <input type="text" id= "summoner_name"  placeholder="Enter Summoner Name" />
    <input type="submit" id = "submit" value="Submit">
    </form>
</body>
<script src="/js/script.js"></script>
</html>