<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL app</title>
</head>
<body>
    <div class="app-wrap">
        <main>
            <h3> <div class = "error"></div> </h3>
            <br />
            <h3>Summoner name is:  <div class = "name"></div> </h3> 
            <br />
            <h3>Summoner ID is: <div class = "id"> </div></h3>
            <br />
            <h3>Summoner Level is:  <div class = "summonerLevel"></div> </h3>
            <br />
        </main>
    </div>
    <script src="/js/output.js"></script>
</body>

</html>